pipeline/pl_incremental_load.json
{
	"name": "pl_incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Look_updated_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_updated_date",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": "cdc_updated_date.json"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy_DB_to_lake",
				"description": "Activity Copy the data from Azure SQL Database to Data Lake containers.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Look_updated_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Current_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM\n    @{pipeline().parameters.schema}.@{pipeline().parameters.table}\n    WHERE \n    @{pipeline().parameters.cdc} > '@{activity('Look_updated_date').output.firstRow.cdc}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_lake",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_bronze_trg",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "users",
							"name": {
								"value": "@concat(pipeline().parameters.table,'_',variables('current_date'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Current_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_date",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"cdc": {
				"type": "string"
			}
		},
		"variables": {
			"current_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}